<h1 id="admin_top">Purchaseテーブル（編集中）</h1>

<%= render "layouts/admin/search/purchase" %>

<ul id="anchors">
  <li><%= link_to "リセット", admin_purchases_reset_path %></li>
  <li><%= link_to "新規登録画面", new_admin_purchase_path %></li>
  <li id="delete" style="display: none;">
    本当に削除しますか？    
    <%= link_to "はい", admin_purchase_path(@purchase.id), method: :delete %>
  </li>
</ul>

<%= form_with model: @purchase, url: admin_purchase_path, local: true do |f| %>
  <table>
    <%= render "layouts/admin/table/thead", m_columns: @purchase_columns %>
  
    <tbody>
      <% @purchases.each do |purchase| %>
        <% if purchase == @purchase %>
          <tr>
              <% @purchase_columns.each do |column| %>
                <% if column == "ticket_id" %>
                  <td><%= f.select :ticket_id, @select_ticket %></td>
                <% elsif column == "user_id" %>
                  <td><%= f.select :user_id, @select_user %></td>
                <% else %>
                  <td><%= purchase[column] %></td>
                <% end %>
              <% end %>
              <td><%= f.submit "更新" %></td>

            <td><%= link_to "戻る", admin_purchases_path %></td>
            <td><input type="button" value="削除へ進む（ページ上部へ）" class="deletion_confirmation"></input><td>
          </tr>
          
        <% else %>
          <tr>
            <% @purchase_columns.each do |column| %>
              <td><%= purchase[column] %></td>
            <% end %>
            <td><%= link_to "編集", edit_admin_purchase_path(purchase.id) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>