<h1 id="admin_top">Purchaseテーブル（新規登録中）</h1>

<%= render "layouts/admin/search/purchase" %>

<ul id="anchors">
  <li><%= link_to "検索リセット", admin_purchases_reset_path %></li>
</ul>

<%= form_with model: @purchase, url: admin_purchases_path, local: true do |f| %>
<table>
  <%= render "layouts/admin/table/thead", m_columns: @purchase_columns %>
  
  <tbody>
    <tr>
      <td></td>
      <td><%= f.select :ticket_id, @select_ticket, {include_blank: "選択(必須)"} %></td>
      <td><%= f.select :user_id, @select_user, {include_blank: "選択(必須)"} %></td>
      <td></td>
      <td></td>
      <td><%= f.submit "登録" %></td>
      <td><%= link_to "戻る", admin_purchases_path %></td>
    </tr>
  
    <% @purchases.each do |purchase| %>
      <tr>
        <% @purchase_columns.each do |column| %>
          <td><%= purchase[column] %></td>
        <% end %>
          <td><%= link_to "編集", edit_admin_purchase_path(purchase.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>