<% team = Team.find(params[:id]) %>
<h1>編集画面</h1>
<div>
  <p>旧名称</p>
  <p><%= team.name %></p>
</div>
<%= form_with model: team do |f| %>
  <div>
    <p><%= f.label :name, "新名称" %></p>
    <p><%= f.text_field :name %></p>
  </div>
  <%= f.submit "更新" %>
<% end %>