<h1 id="admin_top">Groundテーブル（編集中）</h1>

<%= render "layouts/admin/search/ground" %>

<ul id="anchors">
  <li><%= link_to "リセット", admin_grounds_reset_path %></li>
  <li><%= link_to "新規登録画面", new_admin_ground_path %></li>
  <li id="delete" style="display: none;">
    本当に削除しますか？    
    <%= link_to "はい", admin_ground_path(@ground.id), method: :delete %>
  </li>
</ul>

<%= form_with model: @ground, url: admin_ground_path, local: true do |f| %>
  <table>
    <%= render "layouts/admin/table/thead", m_columns: @ground_columns %>
  
    <tbody>
      <% @grounds.each do |ground| %>
        <% if ground == @ground %>
          <tr>
              <% @ground_columns.each do |column| %>
                <% if column == "name" %>
                  <td><%= f.text_field :name %></td>
                <% else %>
                  <td><%= ground[column] %></td>
                <% end %>
              <% end %>
              <td><%= f.submit "更新" %></td>

            <td><%= link_to "戻る", admin_grounds_path %></td>
            <td><input type="button" value="削除へ進む（ページ上部へ）" class="deletion_confirmation"></input><td>
          </tr>
          
        <% else %>
          <tr>
            <% @ground_columns.each do |column| %>
              <td><%= ground[column] %></td>
            <% end %>
            <td><%= link_to "編集", edit_admin_ground_path(ground.id) %></td>
          </tr>
        <% end %>
        
      <% end %>
    </tbody>
  </table>
<% end %>