<h1 id="admin_top">Cartテーブル（新規登録中）</h1>

<%= render "layouts/admin/search/cart" %>

<ul id="anchors">
  <li><%= link_to "リセット", admin_carts_reset_path %></li>
</ul>

<%= form_with model: @cart, url: admin_carts_path, local: true do |f| %>
<table>
  <%= render "layouts/admin/table/thead", m_columns: @cart_columns %>
  
  <tbody>
    <tr>
      <td></td>
      <td><%= f.select :ticket_id, @select_ticket, {include_blank: "選択(必須)"} %></td>
      <td><%= f.select :user_id, @select_user, {include_blank: "選択(必須)"} %></td>
      <td></td>
      <td></td>
      <td><%= f.submit "登録" %></td>
      <td><%= link_to "戻る", admin_carts_path %></td>
    </tr>
  
    <% @carts.each do |cart| %>
      <tr>
        <% @cart_columns.each do |column| %>
          <td><%= cart[column] %></td>
        <% end %>
          <td><%= link_to "編集", edit_admin_cart_path(cart.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>