<h1 id="admin_top">Seatテーブル（新規登録中）</h1>

<%= render "layouts/admin/search/seat" %>

<ul id="anchors">
  <li><%= link_to "検索リセット", admin_seats_reset_path %></li>
</ul>

<%= form_with model: @seat, url: admin_seats_path, local: true do |f| %>
<table>
  <%= render "layouts/admin/table/thead", m_columns: @seat_columns %>
  
  <tbody>
    <tr>
      <td></td>
      <td><%= f.select :seatgroup_id, @select_seatgroup, {include_blank: "選択(必須)"} %></td>
      <td></td>
      <td></td>
      <td><%= f.text_field :name %></td>
      <td><%= f.submit "登録" %></td>
      <td><%= link_to "戻る", admin_seats_path %></td>
    </tr>
  
    <% @seats.each do |seat| %>
      <tr>
        <% @seat_columns.each do |column| %>
          <td><%= seat[column] %></td>
        <% end %>
          <td><%= link_to "編集", edit_admin_seat_path(seat.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>