<div id="search_field">
  <%= form_with local: true, method: "get" do |f| %>
    <%= f.submit "検索" %>
    <%= f.label :s_id, "id" %>
    <%= f.number_field :s_id, value: @id %>
    <%= f.label :s_name, "name" %>
    <%= f.search_field :s_name, value: @name %>
    <%= f.label :s_created_at, "created_at" %>
    <%= f.date_field :s_created_at, value: @created_at %>
    <%= f.label :s_updated_at, "updated_at" %>
    <%= f.date_field :s_updated_at, value: @updated_at %>
  <% end %>
</div>