<!DOCTYPE html>
<html>
  <head>
    <title>TicketSales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body style="display: flex; flex-flow: column; min-height: 100vh;">
    
    <%= render 'layouts/header' %>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
      
    <main style="flex: 1; display: flex;">
      <nav id="side">
        <% models = [User, Ground, Blockeduser, Seatgroup, Team, Seat, Game, Ticket, Cart, Purchase] %>
        <ul>
          <li class="list-top">クラス一覧</li>
          <% models.each do |model| %>
            <li><%= link_to model,  send("admin_#{model.name.downcase}s_path") %></li>
          <% end %>
        </ul>
      </nav>
      
      <div style="padding-left: 30px;">
        <%= yield %>
      </div>
    </main>
    
    <footer style="padding-left: 20px;">
      <%= render 'layouts/footer' %>
    </footer>

  </body>
  

</html>
