<% @purchase = Purchase.where(user_id: session[:user_id]) %>

<h1>ユーザー情報</h1>
<table>
  <tr>
    <th>名前</th>
    <th>Eメール</th>
  </tr>
  <% user = User.all.find(session[:user_id]) %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= button_to "編集", edit_user_path, method: :get %></td>
    <% if !current_user.admin %>
      <td><%= button_to "アカウント削除", user_path, method: :delete %></td>
    <% end %>
  </tr>
</table>

<h2>購入チケット一覧</h2>

<% if @purchase.empty? %>
  ありません
<% else %>
  <table>
    <thead>
      <tr>
        <th>日付</th>
        <th>試合</th>
        <th>場所</th>
        <th>席</th>
      </tr>
    </thead>
    
    <tbody>
      <% @purchase.each do |cart| %>
        <%
        c_game = cart.ticket.game
        c_game_datetime = c_game.datetime
        c_seat = cart.ticket.seat
        c_seatgroup = c_seat.seatgroup
        %>
        <tr>
          <td><%= c_game_datetime.year %>年<%= c_game_datetime.month %>月<%= c_game_datetime.day %>日</td>
          <td><%= c_game.hometeam.name %> 対 <%= c_game.visitorteam.name %></td>
          <td><%= c_game.ground.name %></td>
          <td><%= c_seatgroup.name %> <%= c_seat.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>