<h1>ユーザー情報</h1>
<table>
  <tr>
    <th>名前</th>
    <th>Eメール</th>
  </tr>
  <% user = User.all.find(session[:user_id]) %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= button_to "編集", edit_user_path, method: :get %></td>
    <% if !current_user.admin %>
      <td><%= button_to "アカウント削除", user_path, method: :delete %></td>
    <% end %>
  </tr>
</table>

<h2>利用可能チケット</h2>
<%= render "layouts/users_show", purchases: @future_purchase %>

<h2>使用済みチケット</h2>
<%= render "layouts/users_show", purchases: @post_purchase %>