<h1><%= Ground.find(params[:id]).name %></h1>
<h2>対戦スケジュール</h2>
<table>
  <tr>
    <th>日程</th>
    <th>時刻</th>
    <th>対戦相手</th>
    <th>購入画面</th>
  </tr>
  
  <% Game.where(homeid: params[:id]).each do |game| %>
  <tr>
    <td><%= game.date %></td>
    <td><%= game.time.to_s[11,5] %></td>
    <td><%= Team.all.find(game.visitorid).name %></td>
    <td><%= link_to "Go",  purchases_index_path(gameid: game.id) %></td>
  </tr>
  <% end %>
</table>
<h2>会場</h2>
<p><%= Ground.all.find(params[:id]).name%></p>
