<div id="search_field">
  <%= form_with local: true, url: admin_teams_search_path, method: "get" do |f| %>
    <%= f.submit "検索" %>
    <%= f.label :s_teams_id, "id" %>
    <%= f.number_field :s_teams_id, value: session[:s_teams_id] %>
    <%= f.label :s_teams_name, "name" %>
    <%= f.search_field :s_teams_name, value: session[:s_teams_name] %>
    <%= f.label :s_teams_created_at, "created_at" %>
    <%= f.date_field :s_teams_created_at, value: session[:s_teams_created_at] %>
    <%= f.label :s_teams_updated_at, "updated_at" %>
    <%= f.date_field :s_teams_updated_at, value: session[:s_teams_updated_at] %>
    <%= f.label :s_teams_ground_id, "ground_id" %>
    <%= f.select :s_teams_ground_id, @select_ground, {include_blank: "未定", selected: session[:s_teams_ground_id]} %>
  <% end %>
</div>