【現在時刻】<% time = Time.now %>

<p><%= time %></p>
<h1>本日(<%= time.month %>月<%= time.day %>日)の試合</h1>

<% games = Game.where("datetime like ?", "#{Date.today}%") #MySQL %>


<ul style="list-style: none;">
<% games.each do |game| %>
<li>
  <div style=" float: left;margin-right: 10px;"><%= game.ground.name %></div>
  <div style=" float: left;margin-right: 10px;">対</div>
  <%= game.hometeam_id %>
</li>
<% end %>
</ul>
<% Game.all.each do |game| %>
<%= game.hometeam %>
<% end %>
