<% time = Time.now %>

<h1>本日(<%= time.month %>月<%= time.day %>日)の試合</h1>

<!--< games = Game.where("datetime like ?", "#{Date.today}%") #MySQL %>-->
<!--< games = Game.where("cast(#{datetime} as text) like ?", "%#{Date.today}%") #PostgreSQL %>-->
<% games = Game.where(datetime: "%#{Date.today}%") #PostgreSQL %>

<ul style="list-style: none;">
<% games.each do |game| %>
<li class="tournament">
  <div><%= game.hometeam.name %></div>
  <div>対</div>
  <div><%= game.visitorteam.name %></div>
  <div><%= game.ground.name %></div>
  <div><%= link_to "購入画面へ進む", game_path(game.id) %></div>
</li>
<% end %>
</ul>


<style>
.tournament div:not(:last-child) {
  float: left;
  margin-right: 10px;
}
</style>