<h1 id="admin_top">Seatgroupテーブル（編集中）</h1>

<%= render "layouts/admin/search/seatgroup" %>

<ul id="anchors">
  <li><%= link_to "リセット", admin_seatgroups_reset_path %></li>
  <li><%= link_to "新規登録画面", new_admin_seatgroup_path %></li>
  <li id="delete" style="display: none;">
    本当に削除しますか？    
    <%= link_to "はい", admin_seatgroup_path(@seatgroup.id), method: :delete %>
  </li>
</ul>

<%= form_with model: @seatgroup, url: admin_seatgroup_path, local: true do |f| %>
  <table>
    <%= render "layouts/admin/table/thead", m_columns: @seatgroup_columns %>
  
    <tbody>
      <% @seatgroups.each do |seatgroup| %>
        <% if seatgroup == @seatgroup %>
          <tr>
              <% @seatgroup_columns.each do |column| %>
                <% if column == "name" %>
                  <td><%= f.text_field :name %></td>
                <% elsif column == "ground_id" %>
                  <td><%= f.select :ground_id, @select_ground %></td>
                <% elsif column == "price" %>
                  <td><%= f.number_field :price %></td>
                <% else %>
                  <td><%= seatgroup[column] %></td>
                <% end %>
              <% end %>
              <td><%= f.submit "更新" %></td>

            <td><%= link_to "戻る", admin_seatgroups_path %></td>
            <td><input type="button" value="削除へ進む（ページ上部へ）" class="deletion_confirmation"></input><td>
          </tr>
          
        <% else %>
          <tr>
            <% @seatgroup_columns.each do |column| %>
              <td><%= seatgroup[column] %></td>
            <% end %>
            <td><%= link_to "編集", edit_admin_seatgroup_path(seatgroup.id) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>