<h1>
  <%= @game.hometeam.name %> 対 <%= @game.visitorteam.name %> <%= @game.ground.name %>
</h1>
<h2>チケット一覧</h2>

<table>
  <thead>
    <td>場所</td>
    <td>値段</td>
    <td>残り枚数</td>
  </thead>
  
  <% sold_ticket_ids = Purchase.pluck(:ticket_id) %>
  <% cart_ticket_ids = Cart.pluck(:ticket_id) %>
  
  <tbody>
    <% @game.seatgroups.each do |seatgroup| %>
      <% if ( all_ticket_ids = seatgroup.tickets.where(game_id: @game.id).ids ).present? %>
        <tr>
          <td><%= seatgroup.name %></td>
          <td><%= seatgroup.price %>円</td>
          <td><%=  ( unsold_ticket_ids = all_ticket_ids - sold_ticket_ids - cart_ticket_ids ).count %></td>
          <% if unsold_ticket_ids.present? %>
            <td><%= link_to "カートに入れる", games_path(game_id: @game.id, ticket_id: unsold_ticket_ids.sample), method: :post %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>