<h1><%= current_user.name %>さんのカート</h1>

<% if @cart.empty? %>
  ありません
<% else %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>日付</th>
        <th>開始時刻</th>
        <th>対戦カード</th>
        <th>球場</th>
        <th>座席</th>
        <th>値段</th>
      </tr>
    </thead>
    
    <tbody>
      <% @cart.each do |cart| %>
        <%
        c_ticket = cart.ticket
        c_game = c_ticket.game
        c_seat = c_ticket.seat
        c_seatgroup = c_seat.seatgroup
        @num += c_seatgroup.price
        %>
        <tr>
          <td><%= c_ticket.id %></td>
          <td><%= c_game.datetime.strftime("%Y年%m月%d日") %></td>
          <td><%= c_game.datetime.strftime("%H:%M") %></td>
          <td><%= c_game.hometeam.name %> ー <%= c_game.visitorteam.name %></td>
          <td><%= c_game.ground.name %></td>
          <td><%= c_seatgroup.name %> <%= c_seat.name %></td>
          <td><%= c_seatgroup.price %>円</td>
          <td><%= link_to "カートから削除", cart_path(key: cart.id), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>合計<%= @num %>円</h2>
  <%= link_to "全て購入", carts_path, method: :post %>
<% end %>