<h1 id="admin_top">Ticketテーブル（新規登録中）</h1>

<%= render "layouts/admin/search/ticket" %>

<ul id="anchors">
  <li><%= link_to "リセット", admin_tickets_reset_path %></li>
</ul>

<%= form_with model: @ticket, url: admin_tickets_path, local: true do |f| %>
<table>
  <%= render "layouts/admin/table/thead", m_columns: @ticket_columns %>
  
  <tbody>
    <tr>
      <td></td>
      <td><%= f.select :game_id, @select_game, {include_blank: "選択(必須)"} %></td>
      <td><%= f.select :seat_id, @select_seat, {include_blank: "選択(必須)"} %></td>
      <td></td>
      <td></td>
      <td><%= f.submit "登録" %></td>
      <td><%= link_to "戻る", admin_tickets_path %></td>
    </tr>
  
    <% @tickets.each do |ticket| %>
      <tr>
        <% @ticket_columns.each do |column| %>
          <td><%= ticket[column] %></td>
        <% end %>
          <td><%= link_to "編集", edit_admin_ticket_path(ticket.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>