<h1 id="admin_top">Userテーブル</h1>

<%= render "layouts/admin/search/user" %>

<ul id="anchors">
  <li><%= link_to "検索リセット", admin_users_reset_path %></li>
</ul>

<table>
  <%= render "layouts/admin/table/thead", m_columns: @user_columns %>
  
  <tbody>
    <% @users.each do |user| %>
      <% unless user.blockeduser %>
        <tr>
          <% @user_columns.each do |column| %>
            <td><%= user[column] %></td>
          <% end %>
          
          <% if !user.admin? %>
            <td><%= link_to "ブロック", admin_user_path(user.id), method: :delete %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>