<h1>Teamsテーブル（編集中）</h1>

<%= form_with model: @team, url: admin_team_path, local: true do |f| %>
  <table>
    <thead>
      <tr>
        <% @team_columns.each do |column| %>
          <th><%= column %></th>
        <% end %>
      </tr>
    </thead>
  
    <tbody>
      <% @teams.each do |team| %>
        <% if team == @team %>
          <tr>
              <% @team_columns.each do |column| %>
                <% if column == "name" %>
                  <td>
                    <%= f.text_field :name %>
                  </td>
                <% elsif column == "ground_id" %>
                  <td>
                    <%= f.select :ground_id, @select_ground, {include_blank: "未定"} %>
                  </td>
                <% else %>
                  <td>
                    <%= team[column] %>
                  </td>
                <% end %>
              <% end %>
              <td><%= f.submit "更新" %></td>

            <td><%= link_to "戻る", admin_teams_path %></td>
            <td><input type="button" value="削除へ進む" class="deletion_confirmation"></input></td>
          </tr>
          
        <% else %>
          <tr>
            <% @team_columns.each do |column| %>
              <td>
                <%= team[column] %>
              </td>
            <% end %>
            <td>
              <%= link_to "編集", edit_admin_team_path(team.id) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
<% end %>

<div class="delete" style="display: none;">
本当に削除しますか？

<%= link_to "はい", admin_team_path(@team.id), method: :delete %>
</div>

<script>
    $(function(){
      $(".deletion_confirmation").click(function(){
        $(".delete").show();
      });
    });
</script>
