<ul>
  <li class="list-top">クラス一覧</li>
  <li><%= link_to "Teams", admin_path %></li>
  <li><%= link_to "Grounds", admin_grounds_path %></li>
  <li><%= link_to "Users", admin_users_path %></li>
  <li><%= link_to "SeatGroups", admin_seatgroups_path %></li>
  <li><%= link_to "Games", admin_games_path %></li>
</ul>
