<!DOCTYPE html>
<html>
  <head>
    <title>TicketSales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body style="display: flex; flex-flow: column; min-height: 100vh;">
    <header style="padding-left: 20px;">
      <%= render 'layouts/header1' %>
      <%= render 'layouts/header2' %>
    </header>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
      
    <main style="flex: 1">
      
      <div style="padding-left: 20px;">
        <%= yield %>
      </div>
      
    </main>
    
    <footer style="padding-left: 20px;">
      <%= render 'layouts/footer' %>
    </footer>

  </body>


</html>
